- @page_id = "login"
- @page_title = "Log In"

.row
  .span5.offset4
    = backend_logo("/assets/logo.png" , {:height => "46px"})
    %h1#login_title
      = website_title
    
    %div#form.well
      = form_for(@user_session, :url => admin_login_url, :method => :post, :html => {:class => ""}) do |f|   
        - if @user_session.errors.any?
          .alert.alert-error
            .error-title
              Sorry, There was an error
            %ul
              - @user_session.errors.full_messages.each do |msg|
                %li
                  = msg
        %fieldset
          .control-group
            = f.label :email, :class => "control-label"
            .controls
              = f.text_field :email, :class => "span4"
              
          .control-group
            = f.label :password, :class => "control-label"
            .controls
              = f.password_field :password, :class => "span4"
              
          .control-group
            = f.label "", :class => "control-label"
            .controls
              = f.submit "Log in", :class => "btn btn-success", :disable_with => "Logging you in..."
              %a{:href => "#", :class => "btn"}
                Forgot your password?
            
    &copy; 
    %a{:href => "http://freerangefuture.com", :target => "_blank"}
      Freerange Future
    2012
    
