.span3
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header
        Content
      %li
        = active_link_to("Pages", admin_pages_path, :title => "Pages")
      - if Gluttonberg::Blog.table_exists?  
        %li
          = active_link_to("Blogs", admin_blogs_path, :title => "Blogs")
      - if Rails.configuration.enable_gallery == true
        %li  
          = active_link_to("Photo Galleries", admin_galleries_path, :title => "Photo galleries")  
      - for entry in Gluttonberg::Components.nav_entries
        -if entry[3].blank? || entry[3]==false || (entry[3]==true && session.user.is_super_admin)
          %li
            = active_link_to(entry[0], url_for(entry[2]), :html_options => {:id => (entry[0].to_s.underscore).gsub(/\s/, '_') + "Nav" , :title => entry[0] } )
      - if Rails.configuration.flagged_content == true
        %li
          = active_link_to("Flagged Content", admin_flagged_contents_path, :id => "flaggedNav" , :title => "Flagged Content")
      - for entry in Gluttonberg::Components.left_nav_entries
        -if entry[2].blank? || entry[2]==false || (entry[2]==true && session.user.is_super_admin)
          %li{:class => "custom"}
            = active_link_to(entry[0], url_for(entry[1]), :id => (entry[0].to_s.underscore).gsub(/\s/, '_') + "Nav" , :title => entry[0]  )
