%h1
  = @blog.name
  
#articles
  - @articles.each do |article|
    .article
      %h2
        - if Gluttonberg.localized?
          = link_to article.title, blog_article_path(current_localization_slug ,@blog.slug, article.slug)
        - else
          = link_to article.title, blog_article_path(:blog_id => @blog.slug, :id => article.slug)
        by
        = article.author.full_name
      %p
        = asset_tag(article.featured_image , :small_thumb)
        = article.excerpt.html_safe
  
  
