= image_tag("/assets/spinner.gif" , :id => "progress_ajax_upload" , :style => "display:none")

%ul.nav.nav-tabs#asset_tabs
  %li.active
    %a{:href => "#recent", "data-toggle" => "tab"}
      Recent
  %li
    %a{:href => "#collections", "data-toggle" => "tab"}
      Collections
  %li
    %a{:href => "#upload", "data-toggle" => "tab"}
      Upload

.tab-content#assetsDisplay
  #recent.tab-pane.active
    - if @assets.blank?
      %ul.assetList
        %li
    - else
      = render :partial => "gluttonberg/admin/shared/asset_panel.html" , :locals => {:assets => @assets}
    
  #collections.tab-pane
    - unless @collections.empty?
      %ul.assetList
        - for collection in @collections
          %li
            %a{:href => admin_collection_url(collection), :class => "collection"}
              %h3= collection.name
    
  #upload.tab-pane
    - @asset  = Gluttonberg::Asset.new
    = form_for( @asset , :as => :asset , :url => { :action => :ajax_new } ,  :html => { :multipart=>true  , :method => "POST", :class => "nosubnav validation" , :id => "ajax_new_asset_form"} ) do |asset_form|
      = block("Asset") do
        = asset_form.label :file , "File to upload"
        = asset_form.file_field(:file , :class => "required")
        = asset_form.label :name , "Name"
        = asset_form.text_field(:name, :class => "large required")
        %br        
      = render :partial => "collection_select_form" , :locals => {:asset_form => asset_form }

      .controls
        = asset_form.submit("Upload" , :id => "ajax_image_upload", :class => "button button_upload" )