- @page = @page_localization.page

- unless @page_localization.contents.blank?
  = version_listing(@page_localization.contents.first.versions , @version )
            
= form_for(@page_localization, :url => url) do  |f|
  
  = gb_error_messages_for(@page_localization)
  
  .span5
    %legend Metadata
    %p
      = f.label :name
      = f.text_field(:name, :id => "page_title", :class => "span5")    
    %p
      = f.label :navigation_label
      = f.text_field(:navigation_label, :class => "span5")
    %p
      = f.label :slug
      = f.text_field(:slug, :id => 'page_slug', :class => "span5", :donotmodify => true )
      
      
    - if @page_localization.contents.length >= 1
      %legend Content
      - for content in @page_localization.contents
        - unless @version.blank? || !content.versioned?
          - content.revert_to(@version)
        = content_editor(content)
    - else
      %p.no_content
        This page does not have any content areas.
  
  .span4 
    = f.fields_for :page , @page do |page_form|  
      = render :partial => "/gluttonberg/admin/content/pages/page_settings" , :locals => {:f => page_form}
    
    %legend
      Publish
      
    %p
      - if @page.published?
        = submit_tag "Update", :class => "btn btn-success"
        = submit_tag "Unpublish", :class => "btn btn-danger"
      - else
        = submit_tag "Publish", :class => "btn btn-success"
        = submit_tag "Save as a draft", :class => "btn btn-inverse"
    
    