- @window_title = "Content"
- select_page_title = @page.name.blank? ? "Edit Content" : "Edit Content > #{@page.name}"
- if(Gluttonberg.localized? && @page.localizations &&  @page.localizations.length > 1)
  - select_page_title = "Edit #{@page_localization.locale.slug} Content"
- @page_title = "#{link_to "Content", admin_content_path} > #{link_to "Pages", admin_pages_path} > #{select_page_title}"

.row-fluid#edit-form
  = render :partial => "/gluttonberg/admin/content/main/sidebar"
  .span9
    .row-fluid
      .page-header
        %h1
          = @page_title.html_safe
    - unless @page_localization.contents.blank?
      .row-fluid
        .span9
          %legend
            Versions
          = version_listing(@page_localization.contents.first.versions , @version )
    .row-fluid
      = render :partial => "form" , :locals => { :url => admin_page_page_localization_path( :page_id => params[:page_id], :id => @page_localization) }
