- @window_title = "Content"
- @page_title = "#{link_to "Content", admin_content_path} > #{link_to("<%= plural_class_name %>", admin_<%= plural_name %>_path)} > Add New <%= class_name %>"
- @page_image = "/gluttonberg/javascripts/sidebar/icon_content.png"

= form_for(@<%= singular_name %>, :url => admin_<%= plural_name %>_path) do  |f|
  = gb_error_messages_for(@<%= singular_name %>)

  .left_column
    = block("General") do
      = render :partial => "form", :locals => {:f => f}
  
  .right_column
    %legend Publishing
    - if can? :publish , <%=class_name %>
      = f.publisable_dropdown  
    = form_controls(admin_<%= plural_name %>_path)