- @window_title = "Settings"
- @page_title = "#{link_to "Settings", admin_settings_path} > Users"
- @page_image = "/gluttonberg/images/sidebar/icon_settings.png"
= sub_nav do
  - if can? :manage, Gluttonberg::User
    = nav_link("New", new_admin_user_path) 
  
- if @users.empty?
  %p.empty No Users
- else
  %table{:cellpadding => 0, :cellspacing => 0, :summary => "List of users"}
    %thead
      %tr
        %th Name
        - if can? :manage, Gluttonberg::User
          %th Type
        %th.controls Controls
    %tbody
      - i = 0
      - for user in @users
        - i += 1
        %tr{ :class => "#{i % 2 == 0? "even" : ""}"}
          %td= user.email
          - if can? :manage, Gluttonberg::User       
            %td= user.role.humanize
          %td.controls
            %ul
              %li= link_to("Edit", edit_admin_user_path(user))
              - if can? :manage, Gluttonberg::User     
                %li= link_to "Delete", delete_admin_user_path(user)
    
  = will_paginate(@users)