- unless @blog.blank?
  = version_listing(@blog.versions , @version )

= form_for(@blog, :url => url , :html => {:class => "validation"}) do  |f|
  = gb_error_messages_for(@blog)
  = f.hidden_field(:user_id, :value => current_user.id) if @blog.user_id.blank?
  
  .left_column
    .left_column
      %fieldset
        Blog
      
      %p
        = f.label :name
        = f.text_field(:name, :id => "page_title" , :class => "required")
      %p
        = f.label :slug
        = f.text_field(:slug, :id => 'page_slug' , :donotmodify => (action_name == "edit"  || action_name == "update"))
      %p
        = f.label :description,:class =>"block_label"
        = f.text_area(:description , :class => "jwysiwyg", :width => "545"  )    

      %p
        = f.label :moderation_required , "Moderation required?"
        = f.check_box :moderation_required
    
  .right_column
    - if can? :publish , Gluttonberg::Blog  
      = f.publisable_dropdown
    = form_controls(admin_blogs_path)


= enable_jwysiwyg_on_class("jwysiwyg")