!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title
        = "#{website_title} #{@window_title.blank? ? '' : ' : ' + @window_title}" 
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}
      = csrf_meta_tag
      / Le styles
      %link{:href => "/assets/bootstrap.css", :rel => "stylesheet"}
      %link{:href => "/assets/admin-override.css", :rel => "stylesheet"}
      %script{:src => "/assets/jquery.js"}
      %script{:src => "/assets/bootstrap.js"}
      = javascript_include_tag "jquery-dimensions-min" , "jquery-ui-1-8-1-custom-min" , "jquery-validate" , "jquery-dragTree" , "rails" , "jquery-tagarea" , "jeditable" , "ajaxfileupload" , "expander" , "jquery-ui-datetimepicker-min"
      = javascript_include_tag "jcrop/js/jquery-Jcrop-min"
      = wysiwyg_js_css_link_tag
      = javascript_include_tag "gb_application" ,  :charset => "utf-8"
      = custom_javascript_include_tag
      
      :css
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
        .sidebar-nav {
          padding: 9px 0;
        }
      /[if lt IE 9]
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => admin_root_path}
            = website_title
          .nav-collapse
            %ul.nav
              %li.active
                %a{:href => admin_root_path}
                  Dashboard
              %li
                %a{:href => admin_pages_path}
                  Content
              %li
                %a{:href => admin_asset_category_path(:category => 'all' , :page => 1 )}
                  Library
              - if Gluttonberg::Member.enable_members == true
                %li
                  %a{:href => admin_membership_root_path}
                    Members
              %li
                %a{:href => admin_generic_settings_path}
                  Settings
            %p.navbar-text.pull-right
              Logged in as
              %a{:href => "#"}
                = current_user.email
          / /.nav-collapse
    .container-fluid
      = yield
            
      %hr
        %footer
          %p
            &copy; 
            %a{:href => "http://freerangefuture.com", :target => "_blank"}
              Freerange Future
            2012